
    <td>{{ indice }}</td>
    <td><img class="w100" [alt]="data.nombreCompleto" [src]="getAvatar(data.avatar)"></td>
    <td>{{ data.nombreCompleto }}</td>
    <td>{{ data.escuderia }}</td>
    <td>
        <div class="btn-group" role="group">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" href="#"(click)="editarItem(indice)">Editar</a>
                    <a class="dropdown-item" href="#" (click)="borrarItem(indice)">Borrar</a>
                </div>
        </div>
    </td>
