<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}!
  </h1>
  <h3>{{ subtitle }}</h3>
  <img class="w300" alt="Angular Logo" [src]="logoFormula">
  <div *ngIf="usuarioLogado">
    <app-lista-pilotos></app-lista-pilotos>
    <app-alta-piloto (addedPiloto)="nuevoItem()"></app-alta-piloto>
    <app-lista-bolidos></app-lista-bolidos>
  </div>
  <div *ngIf="!usuarioLogado">
    <app-login (comprobarUsuario)="usuarioLogado=$event"></app-login>
  </div>
</div>
